<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiceDoc"
        tools:targetApi="31">
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Tungro"
            android:exported="false" />
        <activity
            android:name=".Healthy"
            android:exported="false" />
        <activity
            android:name=".StemBorer"
            android:exported="false" />
        <activity
            android:name=".SheathBlight"
            android:exported="false" />
        <activity
            android:name=".LeafFolder"
            android:exported="false" />
        <activity
            android:name=".BrownSpot"
            android:exported="false" />
        <activity
            android:name=".LeafBlast"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen"
            android:exported="false" />
        <activity
            android:name=".BookCard7"
            android:exported="false" />
        <activity
            android:name=".BookCard6"
            android:exported="false" />
        <activity
            android:name=".BookCard5"
            android:exported="false" />
        <activity
            android:name=".BookCard4"
            android:exported="false" />
        <activity
            android:name=".BookCard3"
            android:exported="false" />
        <activity
            android:name=".BookCard2"
            android:exported="false" />
        <activity
            android:name=".BookCard1"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:theme="@style/Base.Theme.RiceDoc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>